// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment {
    background: #f6f7f9;
    border: solid #a3a3a3 1px;
    padding: 15px;
}